@charset "utf-8";
/* ==================================
   For:  head
   time: 2013-10-11
   ----- */
   
/* reset */
body,html,ul,li,h1,p{margin:0;padding:0;}
ul,li{list-style:none;}
img{border:0;}
.topbar,.header,.menu-bar{color:#ccc;font:12px/1.8 Arial,Tahoma,Verdana,Helvetica, sans-serif;}
.topbar a,.header a,.menu-bar a{color:#888888;text-decoration:none;}
.topbar a:hover,.header a:hover,.menu-bar a:hover{text-decoration:underline;}
.column-thumbnail img{width:90px;height:auto;}
/* clear floating */
.layout:after,.header:after,.topbar:after,.menu-scroll ul:after{display:block;height:0;content:"";clear:both;visibility:hidden;}
* html .layout,* html .header,* html .topbar,* html .menu-scroll ul{display:inline-block;}
* +html .layout,* +html .header,* +html .topbar,* +html .menu-scroll ul{display:inline-block;}
hr{height:1px;border:none;border-top:1px dashed #C1C1C1;margin:10px 0;}
/* layout */
.layout,.menu-layout{width:1108px;margin:0 auto;}
.topbar,.header,.navbar{min-width:1108px;}
.hide-if-no-js img{max-width:250px;}
.widefat img{max-width:150px;}
/* topbar */
.topbar{height:25px;line-height:25px;background:#2c2c2c;margin-top:-42px;}
.topbar,.topbar a{color:#c7c7c7;}
.topleft{display:inline;float:left;}
.topr{display:inline;float:right;}
.topr li{float:left;padding:0 0 0 25px;}
.profile_page_my-orders{width:850px;overflow-y:scroll; overflow-x:hidden;}
/* header */
.header{background:#2d3e50;}
.logo,.logo a{display:block;width:235px;height:48px;text-indent:-9999em;overflow:hidden;margin:0 auto;}
.logo{background:url(../img/logo.gif) 0 0 no-repeat;float:left;}
.login-info{float:right;margin:10px -300px 0 0;}
.login-info,.login-info a{color:#fff;}
.login-info a:hover{text-decoration:none;color:#eeeeee;}
.login-info i{padding:0 10px;}
/* entry
----------------------------- */	
.entry {
	padding:5px 0px;
}
.entry p {
	margin:0;
	padding:8px 0;
	color:#343434;
	font-size:13px;
	line-height:1.8;
}
.entry table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin-bottom:20px;
}
.entry th, .entry td {
	height:30px;
	border:1px solid #ccc;
	text-align:left;
	line-height:1.5;
	font-size:12px;
	color:#666;
	background:#fbfbfb;
	padding:0 15px;
	overflow:hidden;
	word-break:break-all;
}
.entry th {
	font-size:12px;
	background:#eee;
}
.entry td p, .entry th p, .pd-panel .entry td p, .pd-panel .entry th p {
	margin:0;
	padding:5px;
	color:#666;
	font-size:12px;
	line-height:1.3;
}
.entry td.amts {
	color:#fa832a;
}
.entry th#cartDelete {
	text-align:center;
}
.entry .button {
	margin:15px 10px 0 0;
	background:#dfdfdf;
	padding:8px 15px;
	border:0;
	cursor:pointer;
	line-height:1.2;
	color:#777;
	font-weight:bold;
	text-transform:uppercase;
}
.entry .button:hover {
	background:#fa832a;
	color:#fff;
}
.entry .deletecartitem {
	width:50px;
	text-align:center;
}
.entry .deletecartitem label {
	display:none;
}
.entry .stotal td.amts {
	font-size:18px;
	font-weight:bold;
}
.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom:10px;
}
.alignright {
	float:right;
	margin-left:15px;
	margin-bottom:10px;
}
.alignleftnopad {
	float:left;
	margin-left:0;
}
.alignrightnopad {
	float:right;
	margin-right:0;
}
.aligncenter {
	text-align:center;
}
.entry img.aligncenter {
	display:block;
	margin:0 auto;
}
.entry img {
	max-width:600px;
	border:1px solid #ddd;box-shadow:0 0 3px rgba(0,0,0,0.2);
	padding:2px;
}
/* menu */
.menu-bar{padding:10px 0 0;background:url(../img/nav_bg.jpg) 0 0 repeat-x;margin-bottom:-210px;}
.menu-scroll{width:1040px;height:320px;position:relative;overflow-x:hidden;overflow-y:hidden;margin:0 auto;}
.menu-scroll ul{width:20000px;position:absolute;left:0;top:0;}
.menu-scroll li{width:129px;height:320px;float:left;text-align:center;position:relative;}
.menu-scroll li div.menu-item{height:80px;}
.menu-scroll li div.sub-menu{width:110px;position:absolute;left:50%;margin-left:-55px;top:70px;background:url(../img/sub_menu_bg.png) 0 0 repeat;display:none;}
.menu-scroll li div.sub-menu span{display:block;width:100%;height:26px;line-height:26px;border-bottom:1px solid #fff;}
.menu-scroll li div.sub-menu span a{background:#efefef;text-decoration:none;display:block;width:100%;}
.menu-scroll li div.sub-menu span a:hover{background:#efefef;text-decoration:none;}
.z-index-2000{z-index:2000;}
.z-index-200{width:100%;position:relative;z-index:200;}
.menu-prev,.menu-next{display:block;width:32px;height:32px;text-indent:-9999em;overflow:hidden;background-image:url(../img/nav_prev_next.png);background-repeat:no-repeat;background-color:transparent;background-image:url(../img/nav_prev_next_ie.png);position:relative;top:20px;}
.menu-prev{background-position:0 0;float:left;margin-right:1px;}
.menu-next{background-position:0 -32px;float:right;}

/* opacity */
.menu-scroll li.hover img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7;}
.menu-prev,.menu-next{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:0.5;}
.menu-prev:hover,.menu-next:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}

.eshoppic img{witdh:100px;height:150px;}

#show-preview img{padding:30px 0 0 50px;}
.menu-prev-gray,.menu-next-gray,.menu-prev-gray:hover,.menu-next-gray:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);opacity:0.2;cursor:default;}



.orderlist table{border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:20px;}
.orderlist th,.orderlist td{font-weight:normal;height:30px;border:1px solid #ccc;text-align:left;line-height:1.5;font-size:12px;color:#212121;background:#F8F8F8;}
.orderlist th{font-size:12px;background:#E4E4E4;}
.orderlist p,.orderlist td p,.orderlist th p,.pd-panel .orderlist td p,.pd-panel .orderlist th p{margin:0;padding:5px 5px 10px 5px;color:#212121;font-size:12px;line-height:1.8;}
.orderlist td.amts{color:#fa832a;}
.orderlist th#cartDelete{text-align:center;}
.orderlist td,.orderlist th{padding: 5px;}


.orderaddress{font-size:13px;line-height:1.8;}
.column-taxonomy-{display:none;}

.tablecontainer table{border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:20px;}
.tablecontainer th,.tablecontainer td{font-weight:normal;height:30px;border:1px solid #ccc;text-align:left;line-height:1.5;font-size:12px;color:#212121;background:#F8F8F8;}
.tablecontainer th{font-size:12px;background:#E4E4E4;}
.tablecontainer p,.tablecontainer td p,.tablecontainer th p,.pd-panel .tablecontainer td p,.pd-panel .tablecontainer th p{margin:0;padding:5px 5px 10px 5px;color:#212121;font-size:12px;line-height:1.8;}
.tablecontainer td.amts{color:#fa832a;}
.tablecontainer th#cartDelete{text-align:center;}
.tablecontainer td,.tablecontainer th{padding: 5px;}
.menu-settings a{color:#ffffff;}
.menu-settings h3{color:#ffffff;}
.column-duplicata {display:none;}

/* 系统Menu隐藏 */
.add-blog {display:none;}
.add-banner-sidebar {display:none;}
.add-banner {display:none;}
.add-reviews {display:none;}
.add-certificate {display:none;}
.add-download {display:none;}
.add-news {display:none;}
.add-support {display:none;}
.duplicata-hide-display {display:none;}
.prepare_new_version {display:none;}
.delete-action {display:none;}
.menu-settings {display:none;}
#post_lang_choice  {display:none;}
#add-dw_license {display:none;}
#add-custom-links h3:before  {content:"自定义";}
.pll-select-flag:before  {content:"当前编辑内容语言：";}
.pll_lang_switch_box  {display:none;}
.add-page h3:before  {content:"系统";}
.add-category h3:before  {content:"产品";}
.disable{display:none;}
.thumbnails img{max-width:260px;max-height:200px;}
.has-image img{width:100px;}

#postimagediv img{max-width:400px;padding:2px;border:1px solid #dadada;box-shadow:0 0 3px rgba(0,0,0,0.2);display:block;margin:0 auto;}
#acf_45052  img{max-width:400px;text-align:center;padding:2px;border:1px solid #dadada;box-shadow:0 0 3px rgba(0,0,0,0.2);display:block;}
.status span{margin:0 5px;}

#pageparentdiv  {display:none;}
#aiosp_posttypecolumns_wrapper {display:none;}


.add-admin {display:none;}
.add-ico {display:none;}
.add-ad01 {display:none;}
.add-ad02 {display:none;}
.add-skype {display:none;}
.add-style {display:none;}
.add-price {display:none;}
.add-ad_img {display:none;}

.add-productitems {display:none;}
.add-gallery {display:none;}
.add-article {display:none;}
.add-sns {display:none;}
.add-3code {display:none;}
.add-lianxi {display:none;}
.add-about {display:none;}
.add-ico01 {display:none;}
.add-ico02 {display:none;}
.add-ad03 {display:none;}
.add-pdf {display:none;}
.add-video {display:none;}
